version: "3.7"

services:
  postgres:
    image: postgis/postgis:12-master
    container_name: "mapnotes-db"
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_DB=${MAPNOTES_API_DB_NAME}"
      - "POSTGRES_USER=${MAPNOTES_API_DB_USER}"
      - "POSTGRES_PASSWORD=${MAPNOTES_API_DB_PASSWORD}"
